@keyframes heartbeat {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
}
@keyframes wobble {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-3deg);
    }
}
